/* Reset b치sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Inputs */
input {
    width: 300px;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

/* Focus */
input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

/* Bot칩n */
button {
    width: 300px;
    padding: 12px;
    margin-top: 10px;
    background: #2d3436;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

/* Hover bot칩n */
button:hover {
    background: #000;
    transform: scale(1.03);
}

/* P치rrafos */
p {
    width: 300px;
    background: white;
    margin-top: 8px;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}
